@page "/"

@using Blazor.Extensions.Canvas.WebGL;
@using WebGLWrapping;
@using WebGL_Playground_Site;
@inject HttpClient Http;

<h1>Random triangles</h1>

<BECanvas Width="1000" Height="600" @ref="canvasReference"></BECanvas>
<br />
<NumberInput IntegerNumber="true" @ref="trianglesCount" DefaultValue="10" />
<br />
<button @onclick="Draw">Draw</button>

@code {
    private BECanvasComponent canvasReference;
    private WebGLContext gl;
    private GLDrawer glDrawer;

    private NumberInput trianglesCount;

    protected async Task Draw() {
        await gl.ViewportAsync(0, 0, (int)canvasReference.Width, (int)canvasReference.Height);

        await glDrawer.ClearWithColor(0f, 0f, 0f, 1f);

        var count = (int)trianglesCount.Value;

        var triangles = GLHelper.GenerateTriangles(count, ColorsGeneratorFlags.FixAlpha);

        await glDrawer.DrawTriangles(triangles.vertices.ToArray(), triangles.colors.ToArray());
        Console.WriteLine("Done drawing");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) {
            gl = GLContext.GL = await canvasReference.CreateWebGLAsync(new WebGLContextAttributes { PowerPreference = WebGLContextAttributes.POWER_PREFERENCE_HIGH_PERFORMANCE });

            var vertShaderSource = await Misc.GetFileContents("Shaders/shader.vert", Http);
            var fragShaderSource = await Misc.GetFileContents("Shaders/shader.frag", Http);

            var glProgram = await GLProgram.SetUpProgram(vertShaderSource, fragShaderSource);
            glDrawer = new GLDrawer(glProgram);
            await gl.UseProgramAsync(glProgram);

            await Draw();
        }
    }
}