@page "/"
@using Blazor.Extensions.Canvas.WebGL;
@using WebGLWrapping;
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<BECanvas Width="1000" Height="600" @ref="canvasReference"></BECanvas>
<br />
<NumberInput IntegerNumber="true" @ref="trianglesCount" DefaultValue="10" />
<br />
<button @onclick="Draw">Draw</button>

@code {
    private BECanvasComponent canvasReference;
    private WebGLContext gl;
    private GLProgram glProgram;

    private NumberInput trianglesCount;

    private bool needsRendering = true;

    private async Task<String> GetFileContents(string sourcePath) {
        string source;
        try {
            source = await Http.GetStringAsync(sourcePath);
            return source;
        } catch(Exception e) {
            throw new Exception(e.Message);
        }
    }

    private async Task DrawTriangles(float[] vertices, byte[] colors) {
        var positionBuffer = await gl.CreateBufferAsync();
        await gl.BindBufferAsync(BufferType.ARRAY_BUFFER, positionBuffer);
        await gl.BufferDataAsync(BufferType.ARRAY_BUFFER, vertices, BufferUsageHint.STATIC_DRAW);

        var positionLoc = (uint)await gl.GetAttribLocationAsync(glProgram.Program, "position");
        await gl.EnableVertexAttribArrayAsync(positionLoc);
        await gl.VertexAttribPointerAsync(positionLoc, 2, DataType.FLOAT, false, 0, 0);

        var colorBuffer = await gl.CreateBufferAsync();
        await gl.BindBufferAsync(BufferType.ARRAY_BUFFER, colorBuffer);
        await gl.BufferDataAsync(BufferType.ARRAY_BUFFER, colors, BufferUsageHint.STATIC_DRAW);

        var colorLoc = (uint)await gl.GetAttribLocationAsync(glProgram.Program, "color");
        await gl.EnableVertexAttribArrayAsync(colorLoc);
        await gl.VertexAttribPointerAsync(colorLoc, 4, DataType.UNSIGNED_BYTE, true, 0, 0);

        await gl.DrawArraysAsync(Primitive.TRIANGLES, 0, vertices.Length);
    }

    private Tuple<float[], byte[]> GenerateTriangles(int count) {
        var vertices = new float[6 * count];
        var colors = new byte[12 * count];

        var rnd = new Random();

        for(int i = 0; i < vertices.Length; i++) {
            vertices[i] = (float)(rnd.NextDouble() * 2.0 - 1.0);
        }
        for(int i = 0; i < colors.Length; i++) {
            colors[i] = (byte)rnd.Next(0, 255);
        }

        return new Tuple<float[], byte[]>(vertices, colors);
    }

    protected async Task Draw() {
        await gl.ViewportAsync(0, 0, (int)canvasReference.Width, (int)canvasReference.Height);
        await gl.ClearColorAsync(0.0f, 0.0f, 0.0f, 1.0f);

        await gl.ClearAsync(BufferBits.COLOR_BUFFER_BIT);

        var count = (int)trianglesCount.Value;

        var data = GenerateTriangles(count);

        await DrawTriangles(data.Item1, data.Item2);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(needsRendering) {
            gl = GLContext.GL = await canvasReference.CreateWebGLAsync(new WebGLContextAttributes { PowerPreference = WebGLContextAttributes.POWER_PREFERENCE_HIGH_PERFORMANCE });

            var vertShaderSource = await GetFileContents("Shaders/shader.vert");
            var fragShaderSource = await GetFileContents("Shaders/shader.frag");

            glProgram = await GLProgram.SetUpProgram(vertShaderSource, fragShaderSource);
            await gl.UseProgramAsync(glProgram);

            await Draw();

            needsRendering = false;
        }
    }
}